<!DOCTYPE>
<html>
    <head>
        <title>GlobeTrotter</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        
        <nav style="border-radius: 0;" class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a style="color:white;" href="/" class="navbar-brand">GlobeTrotter Home</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                        <li><a style="color:white;" href="/login">Login</a></li>
                        <li><a style="color:white;" href="/register">SignUp</a></li>
                        <% } else { %>
                        <li><a style="color:white;" href="#">Signed in as <%= currentUser.username %></a></li>
                        <li><a style="color:white;" href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
