<% include ./partials/header %>
<h1 style="margin: 20px 20px;text-align: center;">Welcome to GlobeTrotter!</h1>

<p style="text-align: center;"><a class="btn btn-primary" style="margin: 20px 20px;" href="/campgrounds">Go to GlobeTrotter Sites</a></p>
<% include ./partials/footer %>